@import "tailwindcss";
@source "../components";

:root {
    --foreground-rgb: 15, 23, 42; /* Slate 900 */
    --background-rgb: 248, 250, 252; /* Slate 50 */
}

@theme {
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
}
